<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v-for </title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
</head>
<body>

    <div id="aplicacion">

        <ul>
            <li v-for=" n in 10 " >
                Numero
            </li>
        </ul>

        <h1> {{ salida }}</h1>

        <ul>
            <li v-for= "item in items"v-on:click="mostrarValor" >
                <button> {{ item }}</button>
            </li>
        </ul>

    </div>

    <script type="text/javascript">
    new Vue({
        el:"#aplicacion",
        data:{
            items:["Dragon Ball", "Ranma", "Detective konan"],
            salida:""

        },
        methods:{
            mostrarValor:function(event){
                if(event){
                    this.salida=event.target.innerText;
                }
            }
        }
        })
    
    </script>

    
</body>
</html>